header {
	background-image: 
		linear-gradient(
			$red, transparentize($red, 0.25));
	min-height: 75px;
	text-align: center;
	h1 {
		font-family: $secondary-font;
		color: #fff;
	}
	a {
		color: $tan;
		display:block;
		padding: 6px;
	}
	nav {
		margin-left: 100px;
		text-align: left;
		> a {
			margin-left: 30px;
		}
		.sub-nav {
			visibility: hidden;
			position:absolute;
			.show {
				visibility: visible;
				position: relative;
			}
		}
	}
	img {
		height: 100px;
		width: 100px;
		float: left;
	}
	div {
		float: right;
		text-align:right;
		padding: 3px;

		button {
			border-radius: 30px;
			display:none;
		}
	}

	@media screen and (min-width: 750px) {
		overflow: hidden;
		position: relative;
		h1 {
			float:left;
		}
		nav {
			bottom: 25px;
			left: 0;
			position: absolute;
			right: 0;
			a {
				margin-left: 10px;
				display: inline;
				padding: 2px 10px;
			}
		}
		img {
			height: 100px;
			width: 100px;
		}
		div {
			padding: 15px;
		}

	}	
}
