header {
	background-color: green;
	min-height: 75px;
	text-align: center;

	nav {
		background-color: red;
		> a {
			border: 1px solid yellow;
			border-radius:5px;
			display:block;
			padding: 5px;
		}
		// .sub-nav {
		// 	visibility: hidden;
		// 	position:absolute;
		// 	.show {
		// 		visibility: visible;
		// 		position: relative;
		// 	}
		// }
	}
	img {
		height: 100px;
		width: 100px;
	}
	div {
		text-align:right;
	}

	@media screen and (min-width: 750px) {
		background-color: purple;
		overflow: hidden;
		position: relative;
		nav {
			background-color: red;
			bottom: 25px;
			left: 0;
			position: absolute;
			right: 0;
			a {
				display: inline;
				padding: 2px 10px;
			}
		}
		img {
			float:left;
			height: 150px;
			width: 150px;
		}
		div {
			float:right;
		}
	}	
}
