footer {
	background-color: orange;
	display:block;
	padding: 2px;
	div {
		border: 2px solid grey;
		box-sizing: border-box;
		display: block;
		width: 100%;
		&:nth-child(3) {
			display: none;
		}
	}
	@media screen and (min-width: 750px) {
		div {
			display: inline-block;
			vertical-align: top;
			width: calc(32%);
			&:nth-child(3) {
				display:inline-block;
			}
		}
	}
}