footer {
	background: 
		linear-gradient(transparentize($red, 0.25), $red);
	color: #ccc;
	display:block;
	width: 100%;
	div {
		box-sizing: border-box;
		display: block;
		padding: 5px;
		margin: 5px;
		width: 100%;
		&:nth-child(3) {
			display: none;
		}
	}
	h2 {
		color: $tan;
	}
	@media screen and (min-width: 750px) {
		div {
			display: inline-block;
			vertical-align: top;
			width: calc(33% - 15px);
			&:nth-child(3) {
				display:inline-block;
			}
		}
	}
}