.welcome-hero {
	background: url('/images/treebg.png') no-repeat;
	background-position: absolute;
	background-size: cover;
	margin: 0;
	overflow:hidden;
	padding: 5px;
	h1 {
		color: #fff;
		font-family: $secondary-font, cursive;
		font-size: 2em;
		text-align: center;
		text-shadow: 2px 2px 2px $blue;
		width: 80%;
	}
	p, h3 {
		background-color: transparentize($black, 0.5);
		border-radius: 25px;
		color: transparentize(#fff, 0.2);
		font-size: 1.1em;
		margin: 20px auto;
		padding: 10px;
		text-shadow: 1px 1px $red;
		width: 90%;
	}

}

.choose-login, .choose-sign-up {
	display:none; 
}

.login, .sign-up {
	background: linear-gradient(to bottom, #91342B, $red);
	border-radius: 25px;
	color: $tan;
	display: block;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	width: 90%;
	h1 {
		display:inline-block;
	}
	form {
		display:none;
		font-size: 1.1em;
		label{
		    float: left;
		    text-align: left;
		    width: 250px;
		}
		input {
			color: $black;
		}
		&.show {
			display:block;
		
		}
	}

}

@media screen and (min-width: 700px) {
	.welcome-hero {
		background-image: url('/images/treebg.png');
		background: cover; 
		position:absolute;
		div {
			padding: 10px;
			text-align: center;
		}
	}
	.choose-login, .choose-sign-up {
		background: linear-gradient(to bottom, #91342B, $red);
		border-radius: 15px;
		cursor: pointer;
		display:inline;
		margin: 10px;
		padding: 13px;
		width: calc(25%);

	}
	.login {
		float:left;
		transform: translateX(-9999px);
	}
	.sign-up {
		float:right;
		transform: translateX(9999px);
	}
	.login, .sign-up {
		border-radius: 10px;
		box-sizing:border-box;
		margin: 15px auto;
		transition: all 1.2s ease;
		width: calc(50% - 10px);
		h1 {
			margin: 0 auto;
		}
		&.move-in {
			transform:translateX(0px);
		}
		form {
			display:block;
			label{
			    clear: left;
			    display: inline-block;
			    float: left;
			    text-align: left;
			    width: 250px;
			}
			input {
			  color: $black;
			  display: inline-block;
			  float: left;
			}
		}	
	}

		
}
