.welcome-hero {
	margin: 0;
	background: url('/images/treebackground2.png') no-repeat;
	background-size: cover;
	background-position: absolute;
	overflow:hidden;
	padding: 5px;
	h1 {
		font-family: $secondary-font, cursive;
		text-shadow: 2px 2px 2px $blue;
		color: #fff;
		width: 80%;
		text-align: center;
	}
	p, h3 {
		background-color: transparentize($tan, 0.3);
		color: $blue;
		// text-shadow: 1px 1px 1px $black;
		text-shadow: 1px 1px $black;
		width: 90%;
		margin: 20px auto;
		padding: 10px;
		border-radius: 25px;
	}

}

.choose-login, .choose-sign-up {
	display:none; 
}

.login, .sign-up {
	background: linear-gradient(to bottom, #91342B, $red);
	// background-color:$red;
	color: $tan;
	border: 3px solid $blue;
	border-radius: 25px;
	display: block;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	width: 90%;
	h1 {
		display:inline-block;
	}
	form {
		display:none;
		label{
		    float: left;
		    width: 250px;
		    text-align: left;
		}
		input {
			color: $black;
		}
		&.show {
			display:block;
		
		}
	}

}

@media screen and (min-width: 700px) {
	.welcome-hero {
		background-image: url('/images/treebackground.png');
		background: cover; 
		div {
			text-align: center;
			padding: 10px;
		}
		p {
			position: relative;
			left: 100px;
			width: 70%;
		}

	}
	.choose-login, .choose-sign-up {
		display:inline;
		width: calc(25%);
		padding: 13px;
		margin: 10px;
		// background-color: $red;

	background: linear-gradient(to bottom, #91342B, $red);
		border: 2px solid $tan;
		border-radius: 15px;
		cursor: pointer;

	}
	.login {
		float:left;
		transform: translateX(-9999px);
	}
	.sign-up {
		float:right;
		transform: translateX(9999px);
	}
	.login, .sign-up {
		box-sizing:border-box;
		margin: 15px auto;
		width: calc(50% - 10px);
		border-radius: 10px;
		transition: all 1.25s ease;
		h1 {
			margin: 0 auto;
		}
		&.move-in {
			transform:translateX(0px);
		}
		form {
			display:block;
			label{
			    display: inline-block;
			    float: left;
			    clear: left;
			    width: 250px;
			    text-align: left;
			}
			input {
			  display: inline-block;
			  color: $black;
			  float: left;
			}
		}	
	}

		
}
