.welcome-hero {
	margin: 0;
	background: url('/images/treebackground.png') no-repeat;
	background-size: cover;
	background-position: absolute;
	// background-position: center bottom;
	overflow:hidden;
	padding: 5px;
	h1 {
		font-family: $secondary-font, cursive;
		text-shadow: 2px 2px 2px $blue;
		color: #fff;
		width: 80%;
		text-align: center;
	}
	p, h3 {
		background-color: transparentize($tan, 0.3);
		color: $black;
		text-shadow: 1px 1px 2px $tan;
		width: 90%;
		margin: 10px auto;
		padding: 10px;
		border-radius: 25px;
	}
	h3 {
		margin: 20px auto;
	}
	@media screen and (min-width: 600px) {
		background-image: none;
	}
}

.choose-login, .choose-sign-up {
	display:none; 
}

.login, .sign-up {
	background-color:$red;
	color: $tan;
	border: 3px solid $blue;
	border-radius: 25px;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	h1 {
		display:inline-block;
	}
	form {
		display:none;
		&.show {
			display:block;
		}
		button {
			display:block;
		}
		input {
			width: 70%;

		}
	}
}

@media screen and (min-width: 700px) {
	.welcome-hero {
		background-image: url('/images/treebackground.png');
		background: cover; 
		div {
			background-color: #ddd;
			text-align: center;
			padding: 10px;
		}
		p {
			width: 70%;
			margin: 0 0 0 auto;
		}
	}
	.choose-login, .choose-sign-up {
		display:inline-block;
		padding: 10px;
		background-color: purple;
		border: 2px solid yellow;
		border-radius: 15px;

	}
	.login {
		float:left;
		transform: translateX(-9999px);
	}
	.sign-up {
		float:right;
		transform: translateX(9999px);
	}
	.login, .sign-up {
		box-sizing:border-box;
		width: calc(50% - 10px);
		border-radius: 10px;
		transition: all 1.25s ease;
		&.move-in {
			transform:translateX(0px);
		}
		form {
			display:block;
		}	
	}

		
}
