// Fonts
$primary-font: 		"Open Sans", Helvetica, Sans-serif;
$secondary-font: 	"Playball", cursive; 
$third-font: 		"Shadows Into Light Two", Helvetica, Sans-serif;

// Colors
$blue: #014890;
$orange: #FE9915;
$black: #00000C;
$tan: #F4AD55;
$red: #69150D;

// Widths
