/******
Mini-Nav For Viewing Stories
******/
.story-nav {
	// background-color:black;	
	display: block;
	text-align: center;
	a {
		border: 3px solid $red;
		background-color: $tan;
		border-radius: 10px;
		display:inline-block;
		position: relative;
		padding: 2px 5px;
		width: calc(50% - 20px);
		z-index: 50;
	}

	@media screen and (min-width: 750px) {
		a {
			transform: translateY( -15px );
			width: calc(20% - 20px);
		}
	}

	@media screen and (min-width: 950px) {
		a {
			width: calc(18% - 20px);
		}
	}
}

/******
Author Details
******/

.author-details {
	background-color: transparentize($tan, 0.9);
	border-radius: 15px;
	p {

	}
	p, a {
		display:block;
		margin-left: 15px;
	}
	a {
		color: $blue;
	}
	&:after {
	   clear: both;
	   content: "";
	   display: block;
	}
	img {
		display:none;
	}
	@media screen and (min-width: 700px) {
		img {
			display:inherit;
			height: 65px;
			width: 65px;
			border-radius: 50%;
			float:left;
		}	
	}
}

/************
Button Pair
**************/
.button-pair {
	float: right;
}


/************
Canvas
**************/
canvas {
	width: 100%;
}

