/******
Mini-Nav For Viewing Stories
******/


.story-nav {
	background-color:purple;	
	display: block;
	text-align: center;
	box-sizing: border-box;
	a {
		border: 3px solid pink;
		border-radius: 10px;
		display:inline-block;
		padding: 2px 5px;
		width: calc(50% - 10px);
	}

	@media screen and (min-width: 750px) {
		a {
			width: calc(25% - 20px);
		}
	}

	@media screen and (min-width: 950px) {
		a {
			width: calc(18% - 20px);
		}
	}
}

/******
Author Details
******/

.author-details {
	background-color: #888;
	p{
		margin: 0;
	}
	a {
		display:block;
	}
	&:after {
	   clear: both;
	   content: "";
	   display: block;
	}
	img {
		display:none;
	}
	@media screen and (min-width: 700px) {
		img {
			display:inherit;
			height: 75px;
			width: 75px;
			border-radius: 50%;
			float:left;
		}	
	}
}

/************
Button Pair
**************/
.button-pair {
	float: right;
}


/************
Button Pair
**************/
