
.story-container {
	text-align: center;
	position:relative;
}

.js-masonry  {
	margin: 0 auto;
}
.snippet {
	box-sizing: border-box;
	padding: 5px;
	margin: 5px;
	text-align: left;
	width: calc(100% - 20px);

	p {
		padding: 15px;
	}

	@media screen and (min-width: 650px) {
		width: calc(45% - 15px);
	}

	@media screen and (min-width: 950px) {
		width: calc(32% - 10px);
	}

}
.story {
  position:relative;
  padding:15px;
  margin:1em 0 2em;
  // background-color: $red;
  color: #fff;
  	background: 
		-webkit-radial-gradient(rgba(105, 21, 13, 0.90) 0%,
								 rgba(105,21,13,0.9) 20%,
								 rgba(105,21,13,1) 40%,
								 rgba(105,21,13,0.9) 100%), no-repeat 80% 10%; 

  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
	&:before {
	  content:"";
	  border-width:20px 20px 0;
	  bottom:-20px; /* value = - border-top-width - border-bottom-width */
	  display:block;
	  left:40px; /* controls horizontal position */
	  position:absolute;
	  width:0;
	}
	&:after {
	  border-color:$red transparent;
	  border-style:solid;
	  border-width:15px 14px 0;
	  bottom:-13px; /* value = - border-top-width - border-bottom-width */
	  content:"";
	  display:block;
	  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	  position:absolute;
	  width:0;
	}


}