
.story-container {
	text-align: center;
	position:relative;
}

.js-masonry  {
	margin: 0 auto;
}
.snippet {
	border: 1px solid $red;
	box-sizing: border-box;
	padding: 3px;
	margin: 5px;
	text-align: left;
	width: calc(100% - 20px);

	p {
		padding: 3px;
	}

	@media screen and (min-width: 700px) {
		width: calc(50% - 15px);
	}

	@media screen and (min-width: 950px) {
		width: calc(33.33% - 10px);
	}

}

