*, *:before, *:after {
	box-sizing: inherit;
	color: inherit;
	font: inherit;
	margin: 0;
}

a {
	text-decoration: none;
}

main {
	background-color:yellow;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	&:after {
	   clear: both;
	   content: "";
	   display: block;
	}

	@media screen and (min-width: 750px) {
		border: 5px solid magenta;
		margin: 0 auto;
		width: calc(90%);
	}
}
