*, *:before, *:after {
	box-sizing: inherit;
	color: inherit;
	font: inherit;
	margin: 0;
}

* {
	font-family: "Open Sans";
}

a {
	text-decoration: none;
}

main {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: scroll;
	&:after {
	   clear: both;
	   content: "";
	   display: block;
	}

	@media screen and (min-width: 750px) {
		margin: 0 auto;
		width: calc(95%);
	}
}
