/***********
Utilities - Variables and Mixins
**********/


/***********
Base - Normalize and Defaults
**********/
@import "base/normalize";
@import "base/defaults";

/***********
Layout -Anything related to layout
**********/

@import "layout/primary-header";
@import "layout/primary-footer";
@import "layout/hero";

/***********
Components - sections of site. 
**********/
@import "components/misc";
@import "components/story-snippets";

